<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Template is working</title>
</head>
<body>
Shabaash Londe !!!
<h1> {{name}} is the supreme {{status}} of the 7 Universe</h1>
<h1>Enter your text below</h1>
<form action="/removepunc" method="get">
    <textarea name="text" style='width: 286px; height: 124px;'></textarea><br>
    <input type="checkbox" name="removepunc">Remove Punctuations<br>
    <input type="checkbox" name="capitalize">Full Capitailize<br>
    <input type="checkbox" name="extraspace">Remove Extra Space<br>
    <input type="checkbox" name="charcount">Get character count<br>
    <button type="submit">Analyse Text</button>
</form>
</body>
</html>